Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
Content/SoulCity/
Content/SoulCave/
Content/SPACE_STATION/
Content/ParagonWraith/
Content/CrosshairsPack/
Content/AssetPacks/
Content/ModularSciFiPropsSet/
Content/SpaceColonies/
Content/CyberPunkMegapack/
Content/CyberpunkEnvironmentKit/
Content/CyberpunkInteriorKit/
Content/CyberpunkWC/
Content/SciFiCity/
Content/SciFiKitVol1/
Content/SciFiKitVol2/
Content/StarterBundle/
Content/Gun_Explosion_Sounds/
Content/M5_Vol1/
Content/Power_explosion_vfx/
Content/Realistic_Starter_VFX_Pack_Vol2/